* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4vw;
  margin: 0;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 4vw;
  margin: 2vw 0;
  padding: 0
}

h5 {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
}

h6 {
  color: orangered;
  margin: 1vw 0;
  font-size: 1vw;
}

.hero-banner {
  display: flex;
  background-image: url("../../public/1.jpg");
  background-size: cover;
  background-position: center;
}

.hero-banner .banner-left {
  display: flex;
  flex: 50%;
  background-image: url("../../public/2.png"), url("../../public/3.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
}

.hero-banner .banner-right {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 250px 0;
}

.hero-banner .banner-right button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 3vw;
  border-radius: 24px;
  padding: 16px 24px;
  border: none;
  color: white;
  background-color: rgb(0, 209, 209);
  font-size: 1vw;
  margin-top: 3vw;
}

.hero-banner .banner-right p {
  color: rgb(255, 132, 0);
}

.about-aelpa {
  display: flex;
  flex-wrap: wrap;
}

.about-aelpa .banner-left {
  background-image: url("../../public/about.png"), url("../../public/pattern-1.png"), url("../../public/pattern-35.png");
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  background-repeat: no-repeat;
  background-position: center, 80% 30%;
  background-size: 55%, 30%, 70%;
}

.about-aelpa .banner-right {
  width: 30%;
  padding: 100px 0px
}

#satisfied-donors{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  width: 10vw;
  height: 10vw;
  padding: 2vw;
  border-radius: 50%;
  margin-right: 5vw;
  text-align: center;
}

#satisfied-donors h5 {
  font-size: 1vw;
  color: white;
  padding: 0;
  margin: 0;
}

.about-aelpa .about-us {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem 0;
}

.about-aelpa .about-us img {
  width: 5vw;
  padding-right: 2rem;
}

.about-aelpa .about-us p {
  margin: 0;
}

.about-feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}

.about-feature .about-feature-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 30px;
  padding: 40px;
  text-align: center;
}

.feature-causes {
  padding: 80px 0 50px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;

  text-align: center;
}

.feature-causes-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 24px 0;
}

.feature-causes-card {
  width: 350px;
  height: 550px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 0 0 36px 0;
}

.feature-causes-card p, h4 {
  margin: 12px 24px;
}

.feature-causes-button {
  width: 30%;
  border-radius: 32px;
  padding: 6px 20px;
  color: white;
  position: relative;
  bottom: 18px;
  left: 18px;
  font-size: 0.75vw;
}

#shape-group{
  display: flex;
  justify-content: center;
  margin-top: 48px
}

#circle{
  background-color: gray;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  padding: 10px;
  margin: 0 5px;
}

#square {
  background-color: orangered;
  width: 30px;
  height: 3px;
  padding: 10px;
  margin: 0 5px;
}

@media (max-width: 400px) {
  h6 {
    font-size: 3vw;
  }
}

@media (max-width: 400px) {
  .about-aelpa .banner-left {
    flex: 100%;
    height: 400px;
  }
}

@media (max-width: 400px) {
  .about-aelpa .banner-right {
    flex: 100%;
    padding: 0 50px;

  }
}

@media (max-width: 400px) {
  .about-aelpa .banner-right img {
    flex: 100%;
  }
}

@media (max-width: 400px) {
  .feature-causes-button {
    font-size: 3vw;
  }
}
